{% extends 'base/base.html' %}
{% block content %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7" style="width: 100%;">
                    <div>
                        <h3>OPPSSS!!!! Sorry...</h3>
                        <p>Sorry, we can't let you access this page.</p>
                        <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


