{% extends 'base/base.html' %}
{% block content %}

 <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7" style="width: 100%;">
                    <form action="{% url 'create recipe' %}" method="post"
                          enctype="multipart/form-data">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Add recipe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
